name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    uses: kingsword09/workflows/.github/workflows/cli-ci.yml@25bf23cc1773b5289fcc2e34cfc3c6480e9d2079 # v1.0.4
    with:
      packageManager: pnpm
      nodeVersion: 22
      runTests: false
