name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    uses: kingsword09/workflows/.github/workflows/cli-ci.yml@v1.0.3
    with:
      packageManager: pnpm
      nodeVersion: 22
