name: Release

on:
  push:
    branches: [main]

jobs:
  release:
    permissions:
      contents: write
      id-token: write
    uses: kingsword09/workflows/.github/workflows/cli-release.yml@7320d30bcd47cee17cc2d8d28250ba1ab1f742b8 # v1.0.3
    with:
      packageManager: pnpm
      nodeVersion: 22
      trustedPublishing: true
