name: Release

on:
  push:
    branches: [main]

jobs:
  release:
    permissions:
      contents: write
      id-token: write
    uses: kingsword09/workflows/.github/workflows/cli-release.yml@v1.0.3
    with:
      packageManager: pnpm
      nodeVersion: 22
      trustedPublishing: true
