name: Release

on:
  push:
    branches: [main]

jobs:
  release:
    permissions:
      contents: write
      id-token: write
    uses: kingsword09/workflows/.github/workflows/cli-release.yml@25bf23cc1773b5289fcc2e34cfc3c6480e9d2079 # v1.0.4
    with:
      packageManager: pnpm
      nodeVersion: 22
      trustedPublishing: true
